body {
    font-size: 16px !important;
}

.modal-body p {
    font-size: 1.5em;
}

.card {
    padding: 10px;
    margin: 10px;
    background-color: #ddd;
    border-radius: 4%;
}

.card .card-title {
    font-size: 20px;
    color: #333;
}

.card .badge-outline-warning {
    color: #fff;
    background-color: #ffce1b;
    border: 1px solid #ffce1b;
    font-size: 50px;
}

.input-group .form-control {
    height: 50px;
}

.form-control {
    font-size: 20px;
}